{% extends "\\base.html.twig" %}

{% block title %}
	Projects
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	
	<!-- css Bundle -->
	<link rel="stylesheet" href="{{ asset('bundles/psproject/css/baselayout.css') }}" type="text/css" media="all"/>
	
{% endblock %}


{% block body %}

	<div class='header container-fluid'>
		<div class='row'>
			<a class='col-md-10 offset-md-1' href="{{path("ps_project_homepage")}}">			
		 		<img src="{{ asset('assets/images/SourceGuard-logo.png') }}" width='50px' height='50px'/>
		 		<span class="white">Source<span class='red'>Guard</span></span>
		 	</a>
		</div>
	</div>

	{% block content %}

	{% endblock %}
	<div class='footer container-fluid'>
		<div class='row'>
			<div class="col-sx-12 col-md-3 offset-md-2">
				<img class="logo-hover" src="{{ asset('assets/images/facebook-logo-button.png') }}"/>
				<img class="logo-hover" src="{{ asset('assets/images/twitter.png') }}"/>
				<img class="logo-hover" src="{{ asset('assets/images/closed-envelope-circle.png') }}" />
			</div>

			<div class="col-xs-12 col-md-4 offset-md-2 contact">
				<a class='link' href="">Contact</a>
			</div>
		</div>
	</div>
{% endblock %}
	
{% block javascripts %}
	{{ parent() }}
	

{% endblock %}
