{# src/PS/ProjectmBundle/Resources/views/Project/formProject.html.twig #}

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 form container">
  {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

  {{ form_errors(form) }}  

  <div class="form-group">
    <div class="col-sm-12">
      {{ form_errors(form.title) }}
      {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="col-sm-12">
      {{ form_errors(form.files) }}
      {{ form_widget(form.files, {'attr': {'class': ''}}) }}
    </div>

    <div class="col-sm-12 wysiwyg">
      {{ form_errors(form.text) }}
      {{ form_widget(form.text, {'attr': {'class': ''}}) }}
    </div>
    <div class="col-sm-12 submit-btn">
      {{ form_widget(form.saveArticle, {'attr': {'class': 'btn btn-primary'}}) }}  
      <a class="btn return-project" href="{{path("ps_project_view_project",{"keyproject":project.keyproject,"idproject":project.id,})}}"><span class="oi oi-action-undo"></span> Return</a>
           
    </div>
  </div> 

  {{ form_rest(form) }}

  {{ form_end(form) }}
</div>