{% extends "@PSProject\\layout.html.twig" %}

{% block title %}
	Add Information
{% endblock %}

{% block content %}
<container class="container-project container-fluid">
	<div class="project-article col-lg-10 offset-lg-1">
		<h2><span class="lettrine">S</span>end information</h2>
		<div class="form container">
			
				{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
				{{ form_errors(form) }}
			<div class="form-group">
				<div class="col-sm-12">
					{{ form_label(form.typeInformation, "Information type", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
					{{ form_errors(form.typeInformation) }}
					{{ form_widget(form.typeInformation, {'attr': {'class': 'form-control'}}) }}
				</div>
				<div class="col-sm-12" id="text">
					{{ form_label(form.text, "", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
					{{ form_errors(form.text) }}
					{{ form_widget(form.text, {'attr': {'class': 'form-control'}}) }}
				</div>
				<div class="col-sm-12"id="files">
					{{ form_label(form.files, "", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
					{{ form_errors(form.files) }}
					{{ form_widget(form.files, {'attr': {'class': ''}}) }}				
				</div>
				<div class="col-sm-12 submit-btn">
      			{#<!--<a class="btn return-project" href="{{path("ps_project_view_project",{"keyproject":information.project.keyproject,"idproject":information.project.id,})}}"><span class="oi oi-action-undo"></span> Return</a>-->#}   
     			 {{ form_widget(form.Send, {'attr': {'class': 'btn btn-primary'}}) }}
				</div>
			</div>
		</div>
	</div>
</container>
{{ form_rest(form) }}
{{ form_end(form) }}

{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script>
		function display(){
			if(this.value == "text"){
				document.getElementById('files').style.display = "none";
				document.getElementById('text').style.display = "block";
			}else if(this.value == "file"){
				document.getElementById('files').style.display = "block";
				document.getElementById('text').style.display = "none";
			
			}
		}
		
		var select = document.getElementById('ps_projectbundle_information_typeInformation');
		document.getElementById('files').style.display = "none";
		select.addEventListener("change", display, false);
		
	
	</script>
	
{% endblock %}