{# src/PS/ProjectmBundle/Resources/views/Participant/formEditParticipant.html.twig #}

<div class="well container">
  {{ form_start(form, {'attr': {'class': 'form-group row'}}) }}
  {{ form_errors(form) }}

    <div class="col-sm-6">
      {{ form_errors(form.permissionProjectView) }}
      {{ form_widget(form.permissionProjectView, {'attr': {'class': ''}}) }}
    </div>
    <div class="col-sm-6">
      {{ form_errors(form.permissionProjectParameter) }}
      {{ form_widget(form.permissionProjectParameter, {'attr': {'class': ''}}) }}
    </div>
    <div class="col-sm-6">
      {{ form_errors(form.permissionArticle) }}
      {{ form_widget(form.permissionArticle, {'attr': {'class': ''}}) }}
    </div>
    <div class="col-sm-6">
      {{ form_errors(form.permissionInformationAdd) }}
      {{ form_widget(form.permissionInformationAdd, {'attr': {'class': ''}}) }}
    </div>
    <div class="col-sm-6">
      {{ form_errors(form.permissionInformationDelete) }}
      {{ form_widget(form.permissionInformationDelete, {'attr': {'class': ''}}) }}
    </div>
    <div class="col-sm-6">
      {{ form_errors(form.permissionParticipantAdd) }}
      {{ form_widget(form.permissionParticipantAdd, {'attr': {'class': ''}}) }}
    </div>
    <div class="col-sm-6">
      {{ form_errors(form.permissionParticipantDelete) }}
      {{ form_widget(form.permissionParticipantDelete, {'attr': {'class': ''}}) }}
    </div>
    <div class="col-sm-6">
      {{ form_errors(form.permissionParticipantPermission) }}
      {{ form_widget(form.permissionParticipantPermission, {'attr': {'class': ''}}) }}
    </div>
    
    
    
   <div class="col-sm-12 submit-btn">
      {{ form_widget(form.Save, {'attr': {'class': 'btn btn-primary'}}) }}
            
      {#<!-- <a class="btn return-project" href="{{path("ps_project_delete_project",{"keyproject":participant.project.keyproject,"idproject":participant.project.id,})}}"><span class="oi oi-action-undo"></span> Return</a>-->#}
     </div> 
    
</div>
{{ form_rest(form) }}

{{ form_end(form) }}

<script>
    


</script>