{% extends "@PSProject\\layout.html.twig" %}

{% block title %}
	Edit roject
{% endblock %}

{% block content %}
<div class="container-fluid">
	<div class="row">
		<aside class="col-xs-12 col-sm-12 col-md-3 col-lg-2 aside-participants">
			<h3>Participants</h3>
			<ul>			
			{% for participant in listParticipant %}
				<li>
				<p>{{ participant.user.username }}</p>
				<a href="{{path("ps_project_edit_participant",{"keyproject":project.keyproject,"idproject":project.id,"idparticipant":participant.id})}}"><span class="oi oi-pencil"></span></a>
				<a href="{{path("ps_project_delete_participant_ajax",{"keyproject":project.keyproject,"idproject":project.id,"idparticipant":participant.id})}}"><span class="oi oi-x"></span></a>			
				</li>
			{% endfor %}
			</ul>
			<a href="{{path("ps_project_add_participant",{"keyproject":project.keyproject,"idproject":project.id})}}">Add Participant</a>
		</aside>
		<container class="col-xs-12 col-sm-12 col-md-9 col-lg-10 container-project container-fluid">
			<div class="tittle-project">
				<h2><span class="lettrine">P</span>roject parameters</h2>
				<p>{{ include("@PSProject/Project/formEditProject.html.twig") }}</p>
			</div>
		</container>
	</div>
</div>
{% endblock %}
