{% extends "@PSProject\\layout.html.twig" %}

{% block title %}
	Project
{% endblock %}

{% block content %}
	<container class="container-project container-fluid">
		<div class="project-article col-lg-10 offset-lg-1">
			<h2><span class="lettrine">M</span>y Projects</h2>
			<div class="row article-list">
				{% for project in listProject %}
				<a class="col-xs-12 col-sm-6 col-md-4 col-lg-3" href="{{path("ps_project_view_project",{"keyproject":project.keyproject,"idproject":project.id})}}">
					<div class"col-md-12">
						{% if project.files %}
							<img src="{{ asset(project.files.webPath) }}" alt="Article image" class="img-fluid">
						{%else %}
							<div class="col-md-12 align-middle default-img"><span class="oi oi-book"></span></div>
						{%endif%}
						<div class="article-name">
							<p>{{ project.name }}</p>
							<p>{{ listParticipation|length +1 }} <span class="oi oi-person"></span></p>
						</div>
					</div>
				</a>
				{% endfor %}
				<a class="col-xs-12 col-sm-6 col-md-4 col-lg-3 add-article" href="{{path("ps_project_add_project")}}">
					<div class="col-md-12 align-middle"> <span class="oi oi-plus"></span></div>
				</a>
			</div>					
		</div>
		<div class="project-article col-lg-10 offset-lg-1">
			<h2><span class="lettrine">M</span>y Participations</h2>
			<div class="row article-list">
				{% for participation in listParticipation %}
				{% if participation.project.visibility == 1 %}
				<a class="col-xs-12 col-sm-6 col-md-4 col-lg-3" href="{{path("ps_project_view_project",{"keyproject":participation.project.keyproject,"idproject":participation.project.id})}}">
					<div class"col-md-12">
						{% if participation.project.files %}
							<img src="{{ asset(participation.project.files.webPath) }}" alt="Article image" class="img-fluid">
						{%else %}
							<div class="col-md-12 align-middle default-img"><span class="oi oi-book"></span></div>
						{%endif%}
						<div class="article-name">
							<p>{{ participation.project.name }}</p>							
							<p>{{ listParticipation|length +1 }} <span class="oi oi-person"></span></p>
						</div>
					</div>
				</a>
				{% endif %}
				{% endfor %}
			</div>					
		</div>
	</container>

{% endblock %}

{% block javascripts %}
	{{ parent() }}

{% endblock %}