{% extends "@PSProject\\layout.html.twig" %}

{% block title %}
	Project
{% endblock %}

{% block content %}



        <table class="table table-hover" id="table-participant">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Owner</th>
                    <th scope="col">Creation Date</th>
					<th scope="col">Instruction</th>
                    <th scope="col">Key Project</th>
                    <th scope="col">Participants</th>
				</tr>
			</thead>
			<tbody>
				{% for project in listProject %}
					<tr>
						<th scope="row">{{ loop.index }}</th>
						<td>{{ project.user.username }}</td>
						<td>{{ project.dateCreation|date('d/m/Y H:i:s e') }}</td>
                        <td>{{ project.instruction }}</td>
                        <td>{{ project.keyProject }}</td>
                        <td>
                            {% for par in project.participants %}
                                {{ par.user.username }}

						  {% endfor %}
                        </td>
					</tr>
				{% endfor %}			
			</tbody>
		</table>




















{% endblock %}

{% block javascripts %}
	{{ parent() }}
	

	
	
	
	
	
	
	
{% endblock %}